@import 'tailwindcss';

::selection {
  background-color: #2563eb;
  color: #fefefe;
}

html {
  min-width: 360px;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
